@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Comfortaa", sans-serif;
}


#menu-bar-template {
    width: 99%;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 1;
    border-radius: 24px;
    box-shadow: 2px 2px 3px #9e8aa8;
    background: rgba(242, 226, 255, 0.94);
    border: solid 1px #d4b7de;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: flex-start; /* Используем flex-start для выравнивания элементов в начале */
}

#menu-bar-template li {
    margin: 6px 0;
    padding: 0 6px;
    float: left;
    position: relative;
    list-style: none;
}

#menu-bar-template .last-item {
    margin-right: 10px;
    margin-left: auto;
    background: #faf8ff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

#menu-bar-template .last-items-container {
    margin-right: 10px;
    margin-left: auto;
}

#menu-bar-template a {
    font-weight: bold;
    font-size: 16px;
    color: #4d4d4d;
    text-decoration: none;
    display: block;
    padding: 6px 20px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #8d8d8d;
}

#menu-bar-template li ul li a {
    margin: 0;
}

#menu-bar-template .active a, #menu-bar-template li:hover > a {
    background: #dfb2ff;
    color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #fff;
}

#menu-bar-template ul li:hover a, #menu-bar-template li:hover li a {
    background: none;
    border: none;
    color: #666;
    -box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


#menu-bar-template li:hover > ul {
    display: block;
}

#menu-bar-template ul {
    background: rgba(242, 226, 255, 0.67);
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 30px;
    left: 0;
    border: solid 1px #b4b4b4;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #222;
}

#menu-bar-template ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#menu-bar-template ul a {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: normal;
}

#menu-bar-template ul li:first-child > a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menu-bar-template ul li:last-child > a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu-bar-template:after {
    content: "";
    display: table;
    clear: both;
}

.nav li ul {
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1;
}