.book {
    border: 1px solid #9b7abd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f1ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 30px auto;
    font-family: Verdana, Arial, sans-serif ;
}

.main_info p{
    margin-left: -5px;
    font-style: italic;
}


.book h1 {
    font-size: 30px;
    margin-bottom: -10px;
    font-family: Arial, sans-serif;
}

.book p {
    font-size: 16px;
    margin-bottom: 8px;
}

.book h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.book::before {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #eacfff;
    display: block;
    margin-bottom: 30px;
    border-radius: 10px;
}

.book::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: #eacfff;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
}

.book p::before {
    content: attr(data-before);
    color: #5e5e5e;
    margin-right: 5px;
}

