@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.book {
    background-color: #f8f1ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    font-family: "Comfortaa", sans-serif;
    padding: 40px 30px;
}

.book h1 {
    font-size: 30px;
    margin-bottom: -10px;

}

.main p {
    font-size: 16px;
    margin-bottom: 8px;
}

.main_info p {
    margin-left: -5px;
    font-style: italic;
}

.book h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.book::before,
.book::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgba(178, 42, 232, 0.5);
    display: block;
    border-radius: 10px;
}

.book::before {
    margin-bottom: 30px;
}

.book::after {
    margin-top: 30px;
}

.book p::before {
    content: attr(data-before);
    color: #5e5e5e;
    margin-right: 5px;
}

.reviews {
    font-size: 14px;
}

.quote {
    border-left: 4px solid #5e5e5e;
    padding-left: 10px;
    margin-top: 15px;
    font-style: italic;
    overflow: hidden;
    line-height: 20px;
    position: relative;

}

.critic_name {
    font-weight: bold;
}

.button-link {
    font-size: 14px;
    display: inline-block;
    padding: 7px 15px;
    background-color: #e8d9ff;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-left: 85%;
    text-align: center;
}

.button-link:hover {
    background-color: #e8d9ff;
    color: black;
    background-color: rgba(94, 56, 136, 0.36);
}

.delete-review-btn {
    background: none;
    border: none;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    margin-top: 7px;
    margin-right: 7px;
}
