@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: "Comfortaa", sans-serif;
}

.favourite_books h2{
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 5px;
}
.book_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.book {
    background-color: #f8f1ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
    font-family: "Comfortaa", sans-serif;
    position: relative;
    max-width: 800px;
    width: 100%;
    padding: 40px 30px;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

.main_book_info p{
    margin-left: -5px;
    font-style: italic;
}

.book p {
    font-size: 16px;
    margin-bottom: 8px;

}

.book h3 {
    font-size: 25px;
    margin-bottom: -10px;
    font-family: 'Comfortaa', sans-serif;
}

.book::before,
.book::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgba(178, 42, 232, 0.5);
    display: block;
    border-radius: 10px;
}

.book::before {
    margin-bottom: 30px;
}

.book::after {
    margin-top: 30px;
}

.book p::before {
    content: attr(data-before);
    color: rgba(94, 94, 94, 0.65);
    margin-right: 5px;
}
.button-link {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c2d4b;
    border: 2px solid #000;
    border-radius: 25px;
    color: #d4b4ef;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #e8d9ff;
    color: black;
}

.else {
    text-align: center;
    margin-top: 300px;
    font-size: 50px;
}