@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
    font-family: "Comfortaa", sans-serif;
}

.webBody1 {
    padding: 10px;
    background: rgba(242, 226, 255, 0.94);
    border: 2px solid rgba(0, 0, 0, 0.17);
    border-radius: 25px;
}

.webBody2 {
    padding: 10px 10px 10px 10px
}

img {
    width: 100%;
}

.webBody1 h1 {
    text-align: center;
    font-size: 46px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.webBody1 h2 {
    text-align: center;
    font-size: 20px;
}

.book_container {
    display: inline-block;
}

.book {
    background-color: #f8f1ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
    font-family: "Comfortaa", sans-serif;
    position: relative;
    padding: 40px 30px;
}

.webBody1 ul {
    padding: 0;
}

.main_book_info p {
    margin-left: -5px;
    font-style: italic;
}

.book p {
    font-size: 16px;
    margin-bottom: 8px;

}

.book h3 {
    font-size: 25px;
    margin-bottom: -10px;
    font-family: 'Comfortaa', sans-serif;
}

.book::before,
.book::after {
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgba(178, 42, 232, 0.5);
    display: block;
    border-radius: 10px;
}

.book::before {
    margin-bottom: 30px;
}

.book::after {
    margin-top: 30px;
}

.book p::before {
    content: attr(data-before);
    color: rgba(94, 94, 94, 0.65);
    margin-right: 5px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c2d4b;
    border: 2px solid #000;
    border-radius: 25px;
    color: #d4b4ef;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #e8d9ff;
    color: black;
}

.button-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-to-favorites-btn {
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 13px;
}

.add-to-favorites-btn:hover {
    margin-left: 10px;
    background: none;
    border: none;
}

.heart-icon-2 {
    font-size: 13px;
    opacity: 1;
    background: none;
    border: none;
    color: rgba(255, 0, 0, 0.82);
}

.fas {
    color: rgba(255, 0, 0, 0.82);
}

.far {
    color: black;
}

.fa-heart.fa-3x.far:hover,
.fa-heart.fa-3x.heart-icon.far:hover {
    color: rgba(255, 0, 0, 0.82);
}

.fa-heart.fa-3x.fas:hover,
.fa-heart.fa-3x.heart-icon.fas:hover {
    color: black;
}

button:hover {
    cursor: pointer;
}