@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;300;400;500;600;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    background-color: #f8f1ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 10px;
}

a {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(147, 147, 147);
}

a:hover {
    color: rgb(217, 29, 255)
}