<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block additional_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="webBody1">
        <h1> Добро пожаловать в книжный рай </h1>
        <h2>Место, где миры книг сливаются с реальностью</h2>
        <img class="img" src="{% static 'images/book_shelf.png' %}" alt="">

        <div><h2 class="webBody2">Книжный рай – ваш путеводитель по миру уникальных
            историй, где каждая страница является прикосновением к волшебству.
            Погрузитесь в море захватывающих приключений и непревзойденных эмоций,
            выбрав свою идеальную книгу среди нашего огромного ассортимента для взрослых
            и детей!</h2></div>
        <ul>
            <div class="book_container">
                {% for book in books %}
                    <div class="book">
                        <div class="main_book_info">
                            <h3>{{ book.title }}</h3>
                            <p>{% for author in book.author.all %}{{ author.name }}{% if not forloop.last %},
                            {% endif %}{% endfor %}</p>
                        </div>
                        <p data-before="Год публикации:">{{ book.publication_year }}</p>
                        <p data-before="Описание:"> {{ book.description }}</p>
                        <p data-before="Жанры:">
                            {% for genre in book.genres.all %}{{ genre.name }}{% if not forloop.last %},
                            {% endif %}{% endfor %}</p>
                        <a href="{% url 'book_detail' book_id=book.id %}" class="button-link">Подробнее</a>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </div>
{% endblock %}
</body>
</html>
