<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block additional_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="webBody1">
        <h1> Добро пожаловать в книжный рай </h1>
        <h2>Место, где миры книг сливаются с реальностью</h2>
        <img class="img" src="{% static 'images/book_shelf.png' %}" alt="">

        <div><h2 class="webBody2">Книжный рай – ваш путеводитель по миру уникальных
            историй, где каждая страница является прикосновением к волшебству.
            Погрузитесь в море захватывающих приключений и непревзойденных эмоций,
            выбрав свою идеальную книгу среди нашего огромного ассортимента для взрослых
            и детей!</h2></div>
        <ul>

        </ul>
    </div>
{% endblock %}
</body>
</html>
