<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сообщение об ошибке</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}">
</head>
<body>
<div class="login-background"></div>
<div class="login-text-container">
    <p class="login-text">Имя пользователя уже занято, <a href="{% url 'login' %}">
        попробуйте еще раз</a></p>
</div>

<script>
    setTimeout(function () {
        window.location.href = '/';
    }, 10000);
</script>

</body>
</html>
