<!DOCTYPE html>
<html>
<html lang="ru">    
<head>
    <meta charset="UTF-8">
    <title>Reader profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reader_profile.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Профиль {{ reader.user.username }}</h1>

            <div>
                <p>Имя: {{ reader.first_name }}</p>
            </div>

            <div>
                <p>Фамилия: {{ reader.last_name }}</p>
            </div>

            <div>
                <p>Email: {{ reader.email }}</p>
            </div>

            <div>
                <a href="{% url 'favourite_books' reader.user.username %}">Любимые книги</a>
            </div>
        </div>
    </div>
</body>
</html>
