<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Reader profile</title>
    {% extends 'base.html' %}
    {% load static %}
    {% block additional_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="container">
        <div class="card">
            <h1>Профиль {{ reader.user.username }}
                <a class="edit-link" href="{% url 'edit_profile' reader.user.username %}">
                    <i class="fas fa-edit edit-icon"></i>
                </a>
            </h1>

            <div class="reader-info">
                <div class="profile-info-left">
                    <p>Имя: {{ reader.first_name }}</p>
                    <p>Фамилия: {{ reader.last_name }}</p>
                </div>

                <div class="profile-info-right">
                    <p>Email: {{ reader.email }}</p>
                    <p>Дата рождения: {{ reader.date_of_birth|date:"d-m-Y" }}</p>
                </div>
            </div>
            <div>
                <a class="fav-link" href="{% url 'favourite_books' reader.user.username %}">Любимые книги</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>
